.layout {
  min-height: 100vh;
  background: #f7f8fa;
}

.layout__content {
  box-sizing: border-box;
  padding: 12px;
  padding-bottom: 80px;
}

.layout__tabbar {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}

